@page
@model Exercises.Pages.Lesson1.Assignment5

@{
    Layout = null;
}

<div>
    <form method="post">
        <h1>@Model.stage</h1>
        <h1>Happy: <span id="happyCount">@Model.happy</span>
            <button name="submit" type="submit" value="zero">Happy++</button>
        </h1>

        <h1>Disappointed: <span id="disappointedCount">@Model.disapointed</span>
            <button name="submit" type="submit" value="one">Disappointed++</button>
        </h1>

        <h1>Angry: <span id="angryCount">@Model.angry</span>
            <button name="submit" type="submit" value="two">Angry++</button>
        </h1>

        <hr>
                                                                                                                          
        <button name="submit" value="three" type="submit">Delete Cookie</button>
    </form>
</div>
